@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #ff9966, #ff5e62);
}
.container{
    visibility: hidden;
    width: 300px;
    background: #fff;
    border-radius: 10px;
    padding: 15px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.container .menu{
    list-style-type: none;
    padding: 0 10px;
}
.menu .item{
    padding: 5px 10px;
    cursor: pointer;
}
.menu .item i{
    padding-right: 10px;
}
.menu .item:hover{
    background-color: #f2f2f2;
    border-radius: 5px;
}
.menu .setting{
    border-top: 1px solid #ccc;
    margin: 10px 0;
    padding-top: 10px;
}





